<header>
	<c:choose>
		<c:when test="${empty session }">
			<div>
				<img alt="logo" src="">
				<a href="<%=request.getContextPath()%>/inscription">S'inscrire</a>
				<a href="<%=request.getContextPath()%>/connection">Se connecter</a>
			</div>
		</c:when>
		<c:when test="${!empty session}">
			<div>
				<img alt="logo" src="">
				<a href="<%=request.getContextPath()%>/NouvelleEnchere">Vendre un article</a>
				<a href="<%=request.getContextPath()%>/MonProfil">Mon profil</a>
				<a href="<%=request.getContextPath()%>/Deconnection">Déconnexion</a>
			</div>
		</c:when>
	</c:choose>
	<div>
		<h1>Liste des enchére</h1>
	</div>
</header>