<header>
	<c:choose>
		<c:when test="${empty sessionScope.pseudo}">
			<nav class="navbar navbar-expand-lg navbar-light bg-info">
				<a class="navbar-brand" href="<%=request.getContextPath()%>/Accueil"> 
					<img src="https://zupimages.net/up/21/36/uhju.jpg" class=" ms-md-2 img-responsive" alt="logo"> Enchere
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="ms-2 text-right nav-link text-dark" href="<%=request.getContextPath()%>/inscription">S'inscrire</a> 
						<a class="ms-2 text-right nav-link text-dark" href="<%=request.getContextPath()%>/connection">Se connecter</a>
					</div>
				</div>
			</nav>
		</c:when>
		<c:when test="${!empty sessionScope.pseudo}">
			<nav class="navbar navbar-expand-lg navbar-light bg-info">
				<a class="navbar-brand" href="<%=request.getContextPath()%>/Accueil"> 
					<img src="https://zupimages.net/up/21/36/uhju.jpg" class="ms-md-2 img-responsive" alt="logo"> Enchere
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link ms-md-2 text-dark" href="<%=request.getContextPath()%>/NouvelleEnchere">Vendre un article</a>
						<form id="monpseudo" action="<%=request.getContextPath()%>/MonProfil">
							<input type="hidden" name="pseudoUtilisateur" value="${sessionScope.pseudo}" />
						</form>
						<a class="nav-link ms-md-2 text-dark" href='#' onclick='document.getElementById("monpseudo").submit()'>Mon profil</a> 
						<a class="nav-link ms-md-2 text-dark" href="<%=request.getContextPath()%>/Deconnection">Deconnexion</a>
					</div>
				</div>
			</nav>
		</c:when>
	</c:choose>
</header>